CLIENT_PORT=5173
API_PORT=3000
# Set to '127.0.0.1' for local development, or 'server' if running inside a Docker container
# important: use 127.0.0.1 ipv4 address instead of localhost for the proxy to work
API_HOST=server