node_modules/
**/node_modules/

dist
tailwind-output/output.css
**/src/assets/css/output.css


**/src/index.css

# Editor directories and exe files
.vscode/*
**/tempCodeRunnerFile.bat
**/tailwindcss-windows.exe

# executables
*.exe

#env
**/.env