# Dependencies
node_modules
**/node_modules

# Ignore envs but keep example
.env.*
!.env.example
**/.env.*
!**/.env.example

# Server specific (relative to root)
server/dist
server/public/css/output.css
server/DB/db.sqlite
server/DB/migration-status.*
server/data/storage-state.json
server/*.log
server/uploads/**/*
!server/uploads/**/.gitkeep

# Frontend specific (relative to root)
frontend/dist
frontend/src/assets/css/output.css

# Documentation & IDE
.vscode/
*.md
/docs
.gitignore
.git
README.*


# --- Production Cleanup ---
# Note : STILL be available in development containers because of volume mounts 

**/__tests__
**/Dockerfile.dev
**/*.bat
**/*.sh
