# Server Configuration
PORT=3000

# default Admin Credentials (can be changed after first login)
ADMIN_USERNAME=admin
# Store bcrypt hash of admin password
# Generate with: node -e "console.log(require('bcrypt').hashSync('password', 10))"
ADMIN_PASSWORD_HASHED=$2b$10$fhv.4Q8M0.RSsytLan/KSudqUN6QkXJaPS8TdHdytQOYT0xQpn3/m

# JWT Secrets (use strong random values in production)
JWT_ACCESS_SECRET=example_access_secret_change_me
JWT_REFRESH_SECRET=example_refresh_secret_change_me


# Upload path (relative to project root)
UPLOAD_BASE=uploads

# Database file path
DB_PATH=./DB/db.sqlite

# Media Limits
MAX_UPLOAD_FILES_PER_REQUEST=2
# 2MB in bytes
DEFAULT_MAX_UPLOAD_SIZE=2097152
# 1GB in bytes
MAX_TOTAL_STORAGE=1073741824
