# Node modules
node_modules/
**/node_modules/

# Build outputs  
dist/
data/storage-state.json
__tests__/data/storage-state.json
./**/storage-state.json

# Database files
DB/*.sqlite
DB/db.sqlite-journal
DB/migration-status*.json
__tests__/test_db.sqlite


# test files
__tests__/fixtures/large_file.png
server/__tests__/fixtures/**/*.bin

#demos
premium pages demo
template demo
public/css/output.css

# Environment files (except example and test)
.env
.env.*
!.env.example
!.env.test

# Ignore image files in /uploads/ 
/uploads/**/*.jpg
/uploads/**/*.jpeg
/uploads/**/*.png
/uploads/**/*.avif
/uploads/**/*.webp
/uploads/**/*.gif


# Logs and editor files

logs/*.log
.vscode/

#scripts
generate_cert.bat
tailwindcss.exe
tailwindcss-windows.exe
*.key
*.cert

# md file
**/DB/*.md
!./DB/sqlite_migration_tools.md

# docs diagrams images
/docs/diagrams/*.png