@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom component classes */
@layer components {
.btn-primary {
  @apply bg-primary hover:bg-hoverPrimary text-btnText px-4 py-2 rounded flex items-center;
}
}
.input {
  border: 1px solid var(--color-input-bg);
  border-radius: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem; /* 8px */
  padding-bottom: 0.5rem; /* 8px */
  background-color: var(--color-input-bg);
}